[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.c]
indent_style = space
indent_size = 2

[Makefile]
indent_style = tab

[*.sql]
indent_style = space
indent_size = 2

[*.out]
indent_style = space
indent_size = 2
trim_trailing_whitespace = false

[*.sh]
indent_style = space
indent_size = 2
