Source: aggs-for-vecs
Section: database
Priority: optional
Maintainer: Debian PostgreSQL Maintainers <team+postgresql@tracker.debian.org>
Uploaders:
 Matt <matt@solarnetwork.net>,
Build-Depends:
 debhelper-compat (= 13),
 postgresql-all (>= 217~),
Standards-Version: 4.5.1
Rules-Requires-Root: no
Homepage: https://github.com/pjungwir/aggs_for_vecs
Vcs-Browser: https://salsa.debian.org/postgresql/aggs-for-vecs
Vcs-Git: https://salsa.debian.org/postgresql/aggs-for-vecs.git

Package: postgresql-9.6-aggs-for-vecs
Architecture: any
Depends:
 postgresql-9.6,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Postgres C extension with aggregate functions for array inputs.
 This is a C-based Postgres extension offering various aggregate functions 
 like min, max, avg, and var_samp that operate on arrays instead of scalars. 
 It treats each array as a "vector" and handles each element independently.

Package: postgresql-10-aggs-for-vecs
Architecture: any
Depends:
 postgresql-10,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Postgres C extension with aggregate functions for array inputs.
 This is a C-based Postgres extension offering various aggregate functions 
 like min, max, avg, and var_samp that operate on arrays instead of scalars. 
 It treats each array as a "vector" and handles each element independently.

Package: postgresql-11-aggs-for-vecs
Architecture: any
Depends:
 postgresql-11,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Postgres C extension with aggregate functions for array inputs.
 This is a C-based Postgres extension offering various aggregate functions 
 like min, max, avg, and var_samp that operate on arrays instead of scalars. 
 It treats each array as a "vector" and handles each element independently.

Package: postgresql-12-aggs-for-vecs
Architecture: any
Depends:
 postgresql-12,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Postgres C extension with aggregate functions for array inputs.
 This is a C-based Postgres extension offering various aggregate functions 
 like min, max, avg, and var_samp that operate on arrays instead of scalars. 
 It treats each array as a "vector" and handles each element independently.

Package: postgresql-13-aggs-for-vecs
Architecture: any
Depends:
 postgresql-13,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Postgres C extension with aggregate functions for array inputs.
 This is a C-based Postgres extension offering various aggregate functions 
 like min, max, avg, and var_samp that operate on arrays instead of scalars. 
 It treats each array as a "vector" and handles each element independently.
